<!-- Specific JS goes HERE -->
{% extends "layouts/base1.html" %}

{% block title %} Homepage {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-title">Predict Prescriptions</h4>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

	
{% endblock javascripts %}