{% extends "layouts/base1.html" %}

{% block title %} Homepage {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Upload Prescription</h4>
                    </div>

                        <div class="card-body">
                            <div class="container" style="width: 50%;">
                                <div class="mb-3 card p-5 shadow-lg">
                                    <form action="/uploadPrescription/" method="POST" class="text-center" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input class="form-control" type="file" name="prescription_image" accept="image/*">
                                        <button type="submit" class="mt-5 btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}