{% extends "layouts/base1.html" %}

{% block title %} Homepage {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="card">
                <div class="card-img">
                    <img src="{{annotated_image_uri}}" width="100%" alt="pres">
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}