
<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" 
						target="_blank" 
						href="https://github.com/adityarajsahu/Medecoder">
						Medecoder
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright ml-auto">
			&copy; <a target="_blank" href="https://github.com/adityarajsahu/Medecoder">Project</a> 
			- coded by <a target="_blank" href="https://github.com/adityarajsahu/Medecoder">REGEX</a>
		</div>				
	</div>
	
</footer>

<style>
	.footer {
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  text-align: center;
	}
	</style>